requests
https://github.com/l1ving/youtube-dl
git+git://github.com/google/chatbase-python.git
pyrogram[fast]
Pillow
hachoir
PyDrive
https://github.com/Mahesh0253/pyrogram/archive/asyncio.zip
ffmpeg-python
numpy
